<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="appFooter">
      <div class="contacto">
        <a href="https://www.youtube.com/watch?v=zPlSchfBDIw" target="_blank">
          <i class="bi bi-github" style="color: black">GitHub</i>
        </a>
        <a href="https://www.youtube.com/watch?v=dmuKbL_bms8" target="_blank">
          <i class="bi bi-whatsapp" style="color: black">0101010101</i>
        </a>
        <a href="https://www.youtube.com/watch?v=W-6ESnHUhiY" target="_blank">
          <i class="bi bi-envelope-fill" style="color: black"
            >libros@vicio.com</i
          >
        </a>
        <a href="https://www.youtube.com/watch?v=QCtGV213YiE" target="_blank"
          ><i class="bi bi-youtube" style="color: black"
            >Librería 'El Vicio'</i
          ></a
        >
      </div>
      <div class="informacion">
        “No es verdad que las personas dejen de perseguir sueños porque se hacen
        viejas, sino que se hacen viejas porque dejan de perseguir sus
        sueños”<br />
        -Gabriel García Márquez
      </div>
      <div class="frecuentes">
        <a (click)="muyPronto()">Sucursales</a>
        <a (click)="muyPronto()">Devoluciones</a>
        <a (click)="muyPronto()">LectoresVIP</a>
      </div>
    </div>
  </body>
</html>
