<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="itemsContariner">
      <div class="cardContainer" *ngFor="let libro of libros">
        <div class="card">
          <img src="{{ libro[3] }}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ libro[0] | uppercase }}</h5>
            <p><b>Disponibilidad: </b>{{ libro[1] }}</p>
            <div class="textContainer"><b>Descripción: </b> {{ libro[2] }}</div>
          </div>
          <div class="card-footer">
            <button
              type="button"
              class="btn btn-primary btn-sm"
              font
              (click)="addToCart(libro)"
              [disabled]="!logged"
            >
              Añadir al carrito
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</html>
